<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Baja de Bienes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10 offset-md-3">
                    <form id="frmRegistrarProcAuditoria" action="procesoAuditoriaServlet" method="post">
                        <h1 class="mb-4">Resolución Baja de Bienes de Almacén</h1>
                        <div class="row">
                            <div class="col-md-6">
                              
                                <div class="form-group">
                                    <br>
                                    <div class="form-group">                                    
                                        <label for="txtInformeDiferencias" >ID Informe de Sustento de Diferencias</label>
                                        <select class="form-control" id="txtInformeDiferencias"  name="txtInformeDiferencias">
                                            <option value="0">Selecciona un registro</option>
                                            <%
                                                
                                                ArrayList<Formulario> formularios = obtenerFormulariosDesdeBaseDeDatos();
                                        
                                                for (Formulario formulario : formularios) {
                                            %>
                                                <option value="<%= formulario.getId() %>"><%= formulario.getNombre() %></option>
                                            <%
                                                }
                                            %>
                                            </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="fechaBaja">Fecha de Baja:</label>
                                        <input type="date" class="form-control" id="fechaBaja" value="" readonly="readonly" >
                                    </div>
                                    
                                    <br>
                                    <div class="form-group">
                                        <label for="motivoBaja">Motivo de la Baja:</label>
                                        <textarea id="motivoBaja"class="form-control" name="motivoBaja" rows="4" required></textarea>
                                        
                                    </div>
                                    
                                
                                    <br>
                                    <div class="form-group">
                                        <label for="cboRepresentanteOCI">ID  Jefe de la Unidad de Logística</label>
                                        
                                        <select class="form-control">
                                            <option value="">Seleccionar Formulario</option>
                                            <c:forEach items="${formularios}" var="formulario">
                                                <option value="${formulario.id}">${formulario.nombre}</option>
                                            </c:forEach>
                                            </select>
                                        </select>
                                    </div>
                                    <br>
                                    
                                    <div class="form-group"> 
                                    <button type="submit" name="opcion" value="reg" class="btn btn-primary">&nbsp;&nbsp;&nbsp;<a href="ProyectoBajaBienes.html" style="color: aliceblue; text-decoration: none;">Generar Proyecto</a>&nbsp; &nbsp;&nbsp;</button>
                                    <a class="btn btn-secondary" href="splash.html"> Cancelar </a>
                                    </div>	
                                        
                                    <br>
                                    
                                </div>
                            </div>
                    
                    </form>
                </div>
            </div>
        </div>
        


        
    </body>
</html>